#currentLocation {
    margin: 10px;
}
#submitSearch {
    margin: 10px;
}
#map {
    width: 650px;
    height: 600px;
    /*float: right;*/
}
.sidebar {
    float: left;
}

.logo {
    margin: 10px;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
