<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script type="text/javascript" src="../../vendors/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/client/scripts/addAstation.js"></script>
<!--<script type="text/javascript" src="../scripts/app.min.js"></script>-->
<link rel="stylesheet" href="/assets/styles/style.css">

<link type="text/css" rel="stylesheet" href="../../vendors/materialize.min.css"  media="screen,projection"/>

<script type="text/javascript" src="../../vendors/materialize.min.js"></script>

<!--<div class="container">-->

<nav>
    <div class="nav-wrapper #b71c1c red darken-4">
        <h1 class="brand-logo center">Add A Station</h1>
        <ul id="nav-mobile" class="left">
            <li><a href="/" class="btn-floating btn-large waves-effect #b71c1c red darken-4"><i class="material-icons">arrow_back</i></a></li>
        </ul>
    </div>
</nav>

<div class="container">
<div class="row">
<div class="right col s4">
<div  id="addlogo">
    <img src="../styles/drawing.jp.jpg">
        <p class="flow-text" id="infop">This area is for you to add in a gas station that provides
            93 level octane or higher that you've noticed is currently excluded from our list.
            Your request will go straight to an admin for approval. Once approved, you'll be able to see your
            favorite place to fill your baby up on the map!</p>
</div>
</div>


<div class="row col s8">
    <form id="addStationForm">
        <div class="row">
            <div class="input-field col s5">
                <input placeholder="ex: BP, Shell, Happy Ben's" id="station_name" type="text" name="station_name" class="validate">
                <label for="station_name">Station Name</label>
            </div>
        </div>
            <div class="row">
            <div class="input-field col s8">
                <input placeholder="Street" id="street" type="text" name="station_street" class="validate">
                <label for="street">Address</label>
                <div class="input-field col s4">
                <input placeholder="City" id="city" type="text" name="station_city" class="validate">
                </div>
                <div class="input-field col s4">
                    <input placeholder="State" id="state" type="text" name="station_state" class="validate">
                </div>
                <div class="input-field col s4">
                    <input placeholder="Zip" id="zip" type="text" name="station_zip" class="validate">
                </div>
            </div>
            </div>

        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input placeholder="555-555-5555" id="station_number" type="text" name="station_number" class="validate">
                <label for="station_number">Station Number</label>
            </div>
        </div>
        <div class="row center-align">
        <button class="center btn waves-effect waves-light #b71c1c red darken-4" id="addA" type="submit" name="submit">Submit
            <i class="material-icons right">send</i>
        </button>
        </div>
    </form>
</div>
    <div class="contact row bottom-center-align">
        <p>Email or like us on Facebook!</p>

        <a href="mailto:paige.walters92@gmail.com"><i class="icon small material-icons left-align">email</i></a>

        <a href="https://www.facebook.com/opptane93/"><i class="icon small material-icons right-align">thumb_up</i></a>
    </div>
</div>
</div>
